:root {
  --forest-green-dark: #224B0C;
  --forest-green-medium: #548C2F;
  --forest-green-light: #ACD6A0;
  --forest-brown: #5A3E2B;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('./assets/anime-original-wallpaper-f900d85d61ca4d9b0627b86f6061163d.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
  font-size: 1.4em;
  background-color: var(--forest-green-medium);
  color: white;
  border-radius: 0 0 12px 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);

}

.card-container {
  display: flex;
  flex-direction: column;
}

.card-container,
.first-row,
.second-row {
  gap: 18px;
}

.loading {
  font-size: 1.2em;
  color: white;
}



.first-row,
.second-row {
  display: flex;
  flex-direction: row;
}

.card p {
  padding-top: 12px;
}

.card:hover {
  transform: translateY(-12px);
}

.card,
img {
  border-radius: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 150px;
  color: white;
  background-color: var(--forest-brown);
  cursor: pointer;
}

.game-over-container {
  width: 320px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  align-items: center;
  background-color: var(--forest-green-dark);
  color: white;
  font-size: 1.2em;
  gap: 18px;
}

.game-over-container button{
  border-radius: 12px;
  padding: 6px 14px 6px 14px;
  border: none;
  cursor: pointer;
}