:root {
  --forest-green-dark: #224B0C;
  --forest-green-medium: #548C2F;
  --forest-green-light: #ACD6A0;
  --forest-brown: #5A3E2B;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
  background-color: var(--forest-green-dark);
  color: white;
}

.logo{
  display: flex;
  align-items: center;
  gap: 4px;
}

